:root {
    --color-cohort-a: #86af7e; /* Green */
    --color-cohort-b: #b18fbb; /* Purple */
    --color-cohort-c: #7193ab; /* Blue */
    --color-cohort-d: #d4a588; /* Orange */
    --color-cohort-a-rgb: 134, 175, 126; /* Green */
    --color-cohort-b-rgb: 177, 143, 187; /* Purple */
    --color-cohort-c-rgb: 113, 147, 171; /* Blue */
    --color-cohort-d-rgb: 212, 165, 136; /* Orange */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.filters {
    /*margin-bottom: 20px;*/
    margin-bottom: -15px;
    padding-bottom: 10px;
    padding-top: 5px;
    display: flex;
    flex-wrap: row;
    background-color: #f0efef;
    border-radius: 10px;
    /*box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);*/
}

.filter {
    margin-bottom: 10px;
    padding: 10px;
    
}

.top-label {
    
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 10px;
}
.filter label {
    display: block;
    font-weight: bold;   
}

.cohorts .checkbox-container {
    display: block;
    margin-bottom: 5px; 
}

.cohorts .checkbox-container .checkbox-label {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal; 
}

.cohorts .checkbox-container input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
}

.checkbox-container {
    width: auto;
}

.cohorts {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(3, 1fr); /* 3 rows */
}
.table-wrapper {
    border-radius: 10px;
    overflow: hidden;
    /*box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);*/
}
.data-table {
    width: 100%;
    /*border-radius: 10px;*/
    border-collapse: separate; 
    border-spacing: 0;
}

.data-table td:first-child {
    width: 350px; 
}

.data-table th {
    background-color:  #f0efef; 
}

.data-table th, 
.data-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid transparent;
}

.data-table td {
    padding: 10px;
    font-size: 14px;
}

.data-table tr:nth-child(even) {
    background-color: rgba(var(--color-cohort-a-rgb), 0.2); 
}

.data-table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

#data-type-dropdown,
#measure-search {
    padding: 5px;
    width: 200px;
    border: none;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.checkbox-label {
    font-size: 14px;
}

#data-type-filter {
    padding-left: 6vw !important;
}
